In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import time
import json

from datetime import datetime, timedelta

In [15]:
# Read the Parquet file
df = pd.read_parquet('Binance_BTCUSDT_20241022_021225_10.parquet')

# Print the DataFrame
print(df.head())

                        ts                                               bids  \
0  2024-10-21 18:12:16.280  [[1000.000, 141.322], [5000.000, 6.671], [3300...
1  2024-10-21 18:12:16.511  [[1000.000, 141.322], [5000.000, 6.691], [1000...
2  2024-10-21 18:12:16.792  [[1000.000, 141.322], [5000.000, 6.671], [5476...
3  2024-10-21 18:12:17.097  [[1000.000, 141.322], [5000.000, 6.691], [2000...
4  2024-10-21 18:12:17.295  [[1000.000, 141.322], [5000.000, 6.671], [3300...

                                                asks
0  [[68461.000, 1.701], [68474.000, 0.714], [6847...
1  [[68461.000, 1.714], [68462.400, 0.004], [6847...
2  [[68461.000, 1.716], [68471.300, 0.770], [6847...
3  [[68461.000, 1.636], [68462.400, 0.002], [6846...
4  [[68461.000, 1.651], [68462.400, 0.004], [6847...

In [16]:
df

,ts,bids,asks
0,2024-10-21 18:12:16.280,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68461.000, 1.701], [68474.000, 0.714], [6847..."
1,2024-10-21 18:12:16.511,"[[1000.000, 141.322], [5000.000, 6.691], [1000...","[[68461.000, 1.714], [68462.400, 0.004], [6847..."
2,2024-10-21 18:12:16.792,"[[1000.000, 141.322], [5000.000, 6.671], [5476...","[[68461.000, 1.716], [68471.300, 0.770], [6847..."
3,2024-10-21 18:12:17.097,"[[1000.000, 141.322], [5000.000, 6.691], [2000...","[[68461.000, 1.636], [68462.400, 0.002], [6846..."
4,2024-10-21 18:12:17.295,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68461.000, 1.651], [68462.400, 0.004], [6847..."
5,2024-10-21 18:12:17.609,"[[1000.000, 141.322], [5000.000, 6.711], [6846...","[[68461.000, 1.665], [68462.400, 0.004], [6846..."
6,2024-10-21 18:12:17.814,"[[1000.000, 141.322], [5000.000, 6.691], [3300...","[[68461.000, 1.356], [68462.400, 0.004], [6846..."
7,2024-10-21 18:12:18.124,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68461.000, 1.360], [68462.400, 0.002], [6846..."
8,2024-10-21 18:12:18.325,"[[1000.000, 141.322], [5000.000, 6.691], [3300...","[[68461.000, 1.348], [68462.400, 0.004], [6847..."
9,2024-10-21 18:12:18.632,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68461.000, 1.586], [68461.800, 0.102], [6846..."
10,2024-10-21 18:12:18.836,"[[1000.000, 141.322], [5000.000, 6.691], [6161...","[[68461.000, 1.625], [68462.400, 0.004], [6846..."
11,2024-10-21 18:12:19.133,"[[1000.000, 141.322], [5000.000, 6.671], [6646...","[[68461.000, 1.323], [68462.400, 0.002], [6846..."
12,2024-10-21 18:12:19.337,"[[1000.000, 141.322], [5000.000, 6.691], [3300...","[[68461.000, 1.360], [68462.400, 0.004], [6846..."
13,2024-10-21 18:12:19.657,"[[1000.000, 141.322], [5000.000, 6.671], [5476...","[[68461.000, 2.919], [68462.400, 0.004], [6846..."
14,2024-10-21 18:12:19.863,"[[1000.000, 141.322], [5000.000, 6.691], [6161...","[[68155.400, 0.000], [68310.900, 0.000], [6846..."
15,2024-10-21 18:12:20.170,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68461.700, 0.125], [68462.400, 0.004], [6846..."
16,2024-10-21 18:12:20.374,"[[1000.000, 141.322], [5000.000, 6.711], [3300...","[[68461.000, 3.044], [68461.800, 0.104], [6846..."
17,2024-10-21 18:12:20.782,"[[1000.000, 141.322], [5000.000, 6.691], [6549...","[[68461.000, 3.047], [68462.400, 0.004], [6846..."
18,2024-10-21 18:12:20.845,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68460.900, 0.000], [68461.000, 3.326], [6846..."
19,2024-10-21 18:12:21.193,"[[1000.000, 141.322], [5000.000, 6.691], [6161...","[[68463.400, 0.000], [68471.300, 2.241], [6847..."
20,2024-10-21 18:12:21.398,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68461.000, 3.251], [68462.400, 0.004], [6846..."
21,2024-10-21 18:12:21.709,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68461.000, 4.385], [68462.400, 0.002], [6846..."
22,2024-10-21 18:12:21.917,"[[1000.000, 141.322], [5000.000, 6.691], [5476...","[[68461.000, 4.362], [68462.400, 0.004], [6847..."
23,2024-10-21 18:12:22.217,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68461.000, 4.199], [68462.400, 0.004], [6846..."
24,2024-10-21 18:12:22.431,"[[1000.000, 141.322], [5000.000, 6.691], [3300...","[[68460.900, 0.000], [68461.000, 4.249], [6846..."
25,2024-10-21 18:12:22.729,"[[1000.000, 141.322], [5000.000, 6.671], [6161...","[[68461.000, 4.198], [68462.400, 0.062], [6846..."
26,2024-10-21 18:12:22.934,"[[1000.000, 141.322], [5000.000, 6.691], [3300...","[[68460.200, 0.000], [68461.000, 4.636], [6846..."
27,2024-10-21 18:12:23.248,"[[1000.000, 141.322], [5000.000, 6.671], [6206...","[[68461.000, 3.650], [68462.400, 0.002], [6846..."
28,2024-10-21 18:12:23.449,"[[1000.000, 141.322], [5000.000, 6.691], [3300...","[[68461.000, 2.068], [68462.400, 0.004], [6846..."
29,2024-10-21 18:12:23.754,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68461.000, 0.380], [68461.800, 0.102], [6846..."
30,2024-10-21 18:12:23.957,"[[1000.000, 141.322], [5000.000, 6.691], [6000...","[[68461.600, 0.002], [68462.400, 0.002], [6846..."
31,2024-10-21 18:12:24.269,"[[1000.000, 141.322], [5000.000, 6.671], [6503...","[[68461.000, 0.394], [68467.500, 0.173], [6846..."
32,2024-10-21 18:12:24.457,"[[1000.000, 141.322], [5000.000, 6.691], [3300...","[[68461.000, 0.378], [68462.400, 0.004], [6846..."
33,2024-10-21 18:12:24.771,"[[1000.000, 141.322], [5000.000, 6.671], [5476...","[[68460.000, 0.000], [68461.000, 0.392], [6846..."
34,2024-10-21 18:12:24.975,"[[1000.000, 141.322], [5000.000, 6.691], [3300...","[[68461.000, 0.414], [68461.100, 0.068], [6846..."
35,2024-10-21 18:12:25.284,"[[1000.000, 141.322], [5000.000, 6.671], [3300...","[[68461.000, 2.071], [68462.400, 0.004], [6846..."
36,2024-10-21 18:12:25.489,"[[1000.000, 141.322], [5000.000, 6.691], [3300...","[[68461.000, 3.834], [68463.100, 0.220], [6846..."