# Read Data

In [1]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('NEAR_USDT_futures_data_2020.csv')

# Display the first few rows of the DataFrame
df

,coin,opentime,openprice,highprice,lowprice,closeprice,volume,closetime,quotevolume,trades,taker_buy_volume,taker_buy_quote,unused
0,NEAR,1602748800000,1.0625,1.1872,1.0625,1.1169,1449407,1602752399999,1.655530e+06,9968,766784,8.779915e+05,0
1,NEAR,1602752400000,1.1169,1.1301,1.0778,1.1179,1616432,1602755999999,1.789316e+06,8743,873713,9.684362e+05,0
2,NEAR,1602756000000,1.1176,1.1650,1.1136,1.1570,1270406,1602759599999,1.441663e+06,8310,721173,8.190750e+05,0
3,NEAR,1602759600000,1.1572,1.1575,1.1210,1.1279,481575,1602763199999,5.503787e+05,4446,227307,2.600841e+05,0
4,NEAR,1602763200000,1.1286,1.1812,1.1025,1.1536,1835160,1602766799999,2.107977e+06,9266,934671,1.074642e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36456,NEAR,1733990400000,7.0790,7.1800,7.0780,7.1800,1252786,1733993999999,8.950482e+06,20675,658195,4.702462e+06,0
36457,NEAR,1733994000000,7.1790,7.2200,7.1460,7.1490,1535789,1733997599999,1.103534e+07,23363,709728,5.101661e+06,0
36458,NEAR,1733997600000,7.1490,7.1560,7.0210,7.0380,2065246,1734001199999,1.461731e+07,35347,875286,6.193253e+06,0
36459,NEAR,1734001200000,7.0380,7.0510,6.9450,7.0070,1712135,1734004799999,1.197202e+07,32840,797708,5.579540e+06,0
36460,NEAR,1734004800000,7.0070,7.1100,7.0070,7.0740,666197,1734008399999,4.701967e+06,11536,369402,2.607601e+06,0

# Statistics

## 4h

In [5]:
df_volatility = df[['highprice','lowprice']]

df_volatility['volatility'] = (df_volatility['highprice'] - df_volatility['lowprice']) / df_volatility['lowprice']
df_volatility['4h_avg_volatility'] = df_volatility['volatility'].rolling(window=4).mean()

df_volatility.dropna(inplace=True)

df_volatility

/tmp/ipykernel_332315/1093950641.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volatility['volatility'] = (df_volatility['highprice'] - df_volatility['lowprice']) / df_volatility['lowprice']
/tmp/ipykernel_332315/1093950641.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volatility['4h_avg_volatility'] = df_volatility['volatility'].rolling(window=4).mean()
/tmp/ipykernel_332315/1093950641.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volatility.dropna(inplace=True)

       highprice  lowprice  volatility  4h_avg_volatility
3         1.1575    1.1210    0.032560           0.061152
4         1.1812    1.1025    0.071383           0.049656
5         1.2231    1.1521    0.061627           0.052932
6         1.2208    1.1631    0.049609           0.053795
7         1.1890    1.1672    0.018677           0.050324
...          ...       ...         ...                ...
36456     7.1800    7.0780    0.014411           0.015098
36457     7.2200    7.1460    0.010355           0.012596
36458     7.1560    7.0210    0.019228           0.013723
36459     7.0510    6.9450    0.015263           0.014814
36460     7.1100    7.0070    0.014700           0.014886

[36458 rows x 4 columns]

In [6]:
# Calculate summary statistics for volatility and 4h_avg_volatility
summary_stats = {
    'Metric': ['Mean', 'Median', 'Max', 'Min'],
    'Volatility': [
        df_volatility['volatility'].mean(),
        df_volatility['volatility'].median(),
        df_volatility['volatility'].max(),
        df_volatility['volatility'].min()
    ],
    '4h_avg_volatility': [
        df_volatility['4h_avg_volatility'].mean(),
        df_volatility['4h_avg_volatility'].median(),
        df_volatility['4h_avg_volatility'].max(),
        df_volatility['4h_avg_volatility'].min()
    ]
}

# Convert the summary stats dictionary to a DataFrame
summary_df = pd.DataFrame(summary_stats)

summary_df

   Metric  Volatility  4h_avg_volatility
0    Mean    0.020231           0.020233
1  Median    0.016030           0.017219
2     Max    0.900972           0.346912
3     Min    0.000268           0.002243

## 10h

In [12]:
df_volatility = df[['highprice','lowprice']]

df_volatility['volatility'] = (df_volatility['highprice'] - df_volatility['lowprice']) / df_volatility['lowprice']
df_volatility['10h_avg_volatility'] = df_volatility['volatility'].rolling(window=10).mean()

df_volatility.dropna(inplace=True)

df_volatility

/tmp/ipykernel_332315/72602448.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volatility['volatility'] = (df_volatility['highprice'] - df_volatility['lowprice']) / df_volatility['lowprice']
/tmp/ipykernel_332315/72602448.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volatility['10h_avg_volatility'] = df_volatility['volatility'].rolling(window=10).mean()
/tmp/ipykernel_332315/72602448.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volatility.dropna(inplace=True)

       highprice  lowprice  volatility  10h_avg_volatility
9         1.1670    1.1255    0.036873            0.054354
10        1.1549    1.1267    0.025029            0.045121
11        1.1615    1.1412    0.017788            0.042047
12        1.1676    1.1424    0.022059            0.039637
13        1.1469    1.1276    0.017116            0.038093
...          ...       ...         ...                 ...
36456     7.1800    7.0780    0.014411            0.017125
36457     7.2200    7.1460    0.010355            0.017017
36458     7.1560    7.0210    0.019228            0.017420
36459     7.0510    6.9450    0.015263            0.017177
36460     7.1100    7.0070    0.014700            0.015344

[36452 rows x 4 columns]

In [14]:
# Calculate summary statistics for volatility and 4h_avg_volatility
summary_stats = {
    'Metric': ['Mean', 'Median', 'Max', 'Min'],
    'Volatility': [
        df_volatility['volatility'].mean(),
        df_volatility['volatility'].median(),
        df_volatility['volatility'].max(),
        df_volatility['volatility'].min()
    ],
    '10h_avg_volatility': [
        df_volatility['10h_avg_volatility'].mean(),
        df_volatility['10h_avg_volatility'].median(),
        df_volatility['10h_avg_volatility'].max(),
        df_volatility['10h_avg_volatility'].min()
    ]
}

# Convert the summary stats dictionary to a DataFrame
summary_df = pd.DataFrame(summary_stats)

summary_df

   Metric  Volatility  10h_avg_volatility
0    Mean    0.020226            0.020230
1  Median    0.016028            0.017808
2     Max    0.900972            0.192171
3     Min    0.000268            0.003215

# Evaluation Function

In [12]:
import numpy as np
import polars as pl
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Adjust the evaluate_baseline function to accept only y_pred and y_test
def evaluate_baseline(y_pred, y_test):
    # Convert lists to Numpy arrays
    pred = np.array(y_pred)
    test = np.array(y_test)

    # Evaluation Metrics
    me = np.mean(pred - test)  # Mean Error
    mae = mean_absolute_error(test, pred)  # Mean Absolute Error
    mape = np.mean(np.abs((test - pred) / test)) * 100  # Mean Absolute Percentage Error
    mpe = np.mean((test - pred) / test) * 100  # Mean Percentage Error
    rmse = np.sqrt(mean_squared_error(test, pred))  # Root Mean Squared Error

    r = r2_score(test, pred)  # Coefficient of Determination (R-squared)
    min_max_error = np.abs((np.min(pred) - np.min(test)) + 
                            (np.max(pred) - np.max(test)))  # Min-Max Error

    df = pl.DataFrame({
        f'volatility_prediction': pred,
        f'volatility_actual': test
    })

    df = df.with_columns(
        abs(pl.col(f'volatility_prediction') - pl.col(f'volatility_actual')).alias(f'dif_volatility')
    )

    # overall median abs error
    median_abs_err =  df[f'dif_volatility'].median()

    # overall var abs error
    var_abs_err =  df[f'dif_volatility'].var()

    # Results
    results = {
        "Overall Median Absolute Error" : median_abs_err,
        "Overall Variance Absolute Error" : var_abs_err,
        "Mean Error": me,
        "Mean Absolute Error ": mae,
        "Mean Absolute Percentage Error": mape,
        "Mean Percentage Error": mpe,
        "Root Mean Squared Error": rmse,
        "R-squared": r, 
        "Min-Max Error": min_max_error
    }
    
    return results, df

# Next Average 10h Volatility

In [2]:
df_m = df.copy()

# Calculate Volatility
df_m.drop(columns=['coin','unused', 'closetime'], inplace=True)

df_m

,opentime,openprice,highprice,lowprice,closeprice,volume,quotevolume,trades,taker_buy_volume,taker_buy_quote
0,1602748800000,1.0625,1.1872,1.0625,1.1169,1449407,1.655530e+06,9968,766784,8.779915e+05
1,1602752400000,1.1169,1.1301,1.0778,1.1179,1616432,1.789316e+06,8743,873713,9.684362e+05
2,1602756000000,1.1176,1.1650,1.1136,1.1570,1270406,1.441663e+06,8310,721173,8.190750e+05
3,1602759600000,1.1572,1.1575,1.1210,1.1279,481575,5.503787e+05,4446,227307,2.600841e+05
4,1602763200000,1.1286,1.1812,1.1025,1.1536,1835160,2.107977e+06,9266,934671,1.074642e+06
...,...,...,...,...,...,...,...,...,...,...
36456,1733990400000,7.0790,7.1800,7.0780,7.1800,1252786,8.950482e+06,20675,658195,4.702462e+06
36457,1733994000000,7.1790,7.2200,7.1460,7.1490,1535789,1.103534e+07,23363,709728,5.101661e+06
36458,1733997600000,7.1490,7.1560,7.0210,7.0380,2065246,1.461731e+07,35347,875286,6.193253e+06
36459,1734001200000,7.0380,7.0510,6.9450,7.0070,1712135,1.197202e+07,32840,797708,5.579540e+06
36460,1734004800000,7.0070,7.1100,7.0070,7.0740,666197,4.701967e+06,11536,369402,2.607601e+06

In [3]:
df_m['volatility'] = (df_m['highprice'] - df_m['lowprice']) / df_m['lowprice']

# Initialize the new column with zeros or NaN
df_m['next_10h_avg_volatility'] = 0

# Use a for loop to calculate the sum of shifts for the next 10 periods
for i in range(1, 11):  # Loop through shifts from -1 to -10
    df_m['next_10h_avg_volatility'] += df_m['volatility'].shift(-i)

# Divide the summed values by 10 to get the average
df_m['next_10h_avg_volatility'] /= 10

df_m.dropna(inplace=True)

df_m

,opentime,openprice,highprice,lowprice,closeprice,volume,quotevolume,trades,taker_buy_volume,taker_buy_quote,volatility,next_10h_avg_volatility
0,1602748800000,1.0625,1.1872,1.0625,1.1169,1449407,1.655530e+06,9968,766784,8.779915e+05,0.117365,0.045121
1,1602752400000,1.1169,1.1301,1.0778,1.1179,1616432,1.789316e+06,8743,873713,9.684362e+05,0.048525,0.042047
2,1602756000000,1.1176,1.1650,1.1136,1.1570,1270406,1.441663e+06,8310,721173,8.190750e+05,0.046157,0.039637
3,1602759600000,1.1572,1.1575,1.1210,1.1279,481575,5.503787e+05,4446,227307,2.600841e+05,0.032560,0.038093
4,1602763200000,1.1286,1.1812,1.1025,1.1536,1835160,2.107977e+06,9266,934671,1.074642e+06,0.071383,0.032983
...,...,...,...,...,...,...,...,...,...,...,...,...
36446,1733954400000,6.8760,6.9060,6.8450,6.8760,939922,6.464904e+06,14640,349725,2.405712e+06,0.008912,0.017125
36447,1733958000000,6.8750,6.9030,6.8250,6.8450,593093,4.070402e+06,15168,279329,1.917813e+06,0.011429,0.017017
36448,1733961600000,6.8450,6.8780,6.7750,6.8030,1428245,9.753268e+06,32331,604490,4.129761e+06,0.015203,0.017420
36449,1733965200000,6.8030,6.9040,6.7840,6.8130,1238149,8.472227e+06,28296,680113,4.655383e+06,0.017689,0.017177
36450,1733968800000,6.8140,7.0370,6.8120,7.0230,1657942,1.151282e+07,31226,968551,6.728746e+06,0.033030,0.015344

In [4]:
df_m.to_csv('NEAR_USDT_10h_avg_volatility_base.csv', index=False)

print("DataFrame has been saved to csv")

DataFrame has been saved to csv

In [5]:
import time
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

# Separate df into features and target
features_df = df_m.drop(['opentime', 'next_10h_avg_volatility'], axis=1)
target_df = df_m['next_10h_avg_volatility']

# Convert to NumPy arrays
X = features_df.values
y = target_df.values

# Define list of train-test split proportions
train_test_ratios = [0.93]  # Example proportions for training set

# List to store results
all_results = []

# Loop through each train-test ratio
for train_ratio in train_test_ratios:
    print(f'Processing train-test split ratio: {train_ratio}')

    # Split data chronologically
    split_index = int(len(X) * train_ratio)
    X_train, X_test = X[:split_index], X[split_index:]
    y_train, y_test = y[:split_index], y[split_index:]

    # Normalize training data
    X_train_mean = np.mean(X_train, axis=0)
    X_train_std = np.std(X_train, axis=0)
    X_train_normalized = (X_train - X_train_mean) / X_train_std

    # Get the column index for 'volatility' from features_df
    close_index = features_df.columns.get_loc('volatility')

    # Normalize y_train using the mean and std of the 'volatility' column
    close_mean = X_train[:, close_index].mean()
    close_std = X_train[:, close_index].std()
    y_train_normalized = (y_train - close_mean) / close_std

    # Normalize test data using the training set's statistics
    X_test_normalized = (X_test - X_train_mean) / X_train_std

    # Initialize and fit the model
    start_time = time.time()
    model = LinearRegression()
    model.fit(X_train_normalized, y_train_normalized)

    # Predict on the test set
    y_pred_test = model.predict(X_test_normalized)
    # Denormalize predictions
    y_pred_test_denorm = y_pred_test * close_std + close_mean

    # Track the end time of the process
    end_time = time.time()

    # Evaluate the model
    eval_results, _ = evaluate_baseline(y_pred_test_denorm, y_test)

    # Append results to the list
    all_results.append({
        'train_ratio': train_ratio,
        **eval_results
    })

# Convert results to a DataFrame for further analysis
results_df = pd.DataFrame(all_results)

# Print the results DataFrame
results_df

Processing train-test split ratio: 0.93

,train_ratio,Overall Median Absolute Error,Overall Variance Absolute Error,Mean Error,Mean Absolute Error,Mean Absolute Percentage Error,Mean Percentage Error,Root Mean Squared Error,R-squared,Min-Max Error
0,0.93,0.004651,0.000014,0.00252,0.0052,35.827002,-26.57923,0.006436,0.175327,0.00333

In [6]:
# Evaluate the model
eval_results, _ = evaluate_baseline(y_pred_test_denorm[-100:], y_test[-100:])

# Append results to the list
all_results.append({
    'train_ratio': train_ratio,
    **eval_results,

})

# Convert results to a DataFrame for further analysis
results_df = pd.DataFrame(all_results)

results_df.T

                                         0          1
train_ratio                       0.930000   0.930000
Overall Median Absolute Error     0.004651   0.004968
Overall Variance Absolute Error   0.000014   0.000059
Mean Error                        0.002520  -0.000762
Mean Absolute Error               0.005200   0.007041
Mean Absolute Percentage Error   35.827002  28.215830
Mean Percentage Error           -26.579230  -9.342012
Root Mean Squared Error           0.006436   0.010398
R-squared                         0.175327   0.134423
Min-Max Error                     0.003330   0.006296

In [7]:
import time
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

# Separate df into features and target
features_df = df_m.drop(['opentime', 'next_10h_avg_volatility'], axis=1)
target_df = df_m['next_10h_avg_volatility']

# Convert to NumPy arrays
X = features_df.values
y = target_df.values

# Define list of train-test split proportions
train_test_ratios = [0.93]  # Example proportions for training set

# List to store results
all_results = []

# Loop through each train-test ratio
for train_ratio in train_test_ratios:
    print(f'Processing train-test split ratio: {train_ratio}')

    # Split data chronologically
    split_index = int(len(X) * train_ratio)
    X_train, X_test = X[:split_index], X[split_index:]
    y_train, y_test = y[:split_index], y[split_index:]

    # Normalize training data
    X_train_mean = np.mean(X_train, axis=0)
    X_train_std = np.std(X_train, axis=0)
    X_train_normalized = (X_train - X_train_mean) / X_train_std

    # Get the column index for 'volatility' from features_df
    close_index = features_df.columns.get_loc('volatility')

    # Normalize y_train using the mean and std of the 'volatility' column
    close_mean = X_train[:, close_index].mean()
    close_std = X_train[:, close_index].std()
    y_train_normalized = (y_train - close_mean) / close_std

    # Normalize test data using the training set's statistics
    X_test_normalized = (X_test - X_train_mean) / X_train_std

    # Initialize and fit the model
    start_time = time.time()
    model = LinearRegression()
    model.fit(X_train_normalized, y_train_normalized)

    # Predict on the test set
    y_pred_test = model.predict(X_test_normalized)
    # Denormalize predictions
    y_pred_test_denorm = y_pred_test * close_std + close_mean

    # # Apply the condition to y_test and y_pred_test_denorm
    y_test = np.where(y_test >= 0.02, 1, 0)
    y_pred_test_classified = np.where(y_pred_test_denorm >= 0.02, 1, 0)

    # Track the end time of the process
    end_time = time.time()


# Convert results to a DataFrame for further analysis
results_df = pd.DataFrame({
    'y_test': y_test,
    'y_pred_test_classified': y_pred_test_classified
})

# Print the results DataFrame
results_df

Processing train-test split ratio: 0.93

      y_test  y_pred_test_classified
0          1                       0
1          1                       1
2          1                       1
3          0                       1
4          1                       1
...      ...                     ...
2547       0                       0
2548       0                       0
2549       0                       0
2550       0                       1
2551       0                       1

[2552 rows x 2 columns]

In [8]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score

# Calculate Accuracy
accuracy = accuracy_score(results_df['y_test'], results_df['y_pred_test_classified'])

# Calculate F1 Score
f1 = f1_score(results_df['y_test'], results_df['y_pred_test_classified'])

# Print results
print(f"Accuracy: {accuracy:.2f}")
print(f"F1 Score: {f1:.2f}")

Accuracy: 0.76
F1 Score: 0.63

In [9]:
from sklearn.metrics import accuracy_score, f1_score

# Take the last 100 rows
results_df_last_100 = results_df.tail(100)

# Calculate Accuracy
accuracy = accuracy_score(results_df_last_100['y_test'], results_df_last_100['y_pred_test_classified'])

# Calculate F1 Score
f1 = f1_score(results_df_last_100['y_test'], results_df_last_100['y_pred_test_classified'])

# Print results
print(f"Accuracy (Last 100): {accuracy:.2f}")
print(f"F1 Score (Last 100): {f1:.2f}")

Accuracy (Last 100): 0.73
F1 Score (Last 100): 0.76

# Next Average 4h Volatility

In [36]:
df_m = df.copy()

# Calculate Volatility
df_m.drop(columns=['coin','unused', 'closetime'], inplace=True)

df_m

,opentime,openprice,highprice,lowprice,closeprice,volume,quotevolume,trades,taker_buy_volume,taker_buy_quote
0,1602748800000,1.0625,1.1872,1.0625,1.1169,1449407,1.655530e+06,9968,766784,8.779915e+05
1,1602752400000,1.1169,1.1301,1.0778,1.1179,1616432,1.789316e+06,8743,873713,9.684362e+05
2,1602756000000,1.1176,1.1650,1.1136,1.1570,1270406,1.441663e+06,8310,721173,8.190750e+05
3,1602759600000,1.1572,1.1575,1.1210,1.1279,481575,5.503787e+05,4446,227307,2.600841e+05
4,1602763200000,1.1286,1.1812,1.1025,1.1536,1835160,2.107977e+06,9266,934671,1.074642e+06
...,...,...,...,...,...,...,...,...,...,...
36456,1733990400000,7.0790,7.1800,7.0780,7.1800,1252786,8.950482e+06,20675,658195,4.702462e+06
36457,1733994000000,7.1790,7.2200,7.1460,7.1490,1535789,1.103534e+07,23363,709728,5.101661e+06
36458,1733997600000,7.1490,7.1560,7.0210,7.0380,2065246,1.461731e+07,35347,875286,6.193253e+06
36459,1734001200000,7.0380,7.0510,6.9450,7.0070,1712135,1.197202e+07,32840,797708,5.579540e+06
36460,1734004800000,7.0070,7.1100,7.0070,7.0740,666197,4.701967e+06,11536,369402,2.607601e+06

In [37]:
df_m['volatility'] = (df_m['highprice'] - df_m['lowprice']) / df_m['lowprice']

# Initialize the new column with zeros or NaN
df_m['next_4h_avg_volatility'] = 0

# Use a for loop to calculate the sum of shifts for the next 10 periods
for i in range(1, 5):  # Loop through shifts from -1 to -10
    df_m['next_4h_avg_volatility'] += df_m['volatility'].shift(-i)

# Divide the summed values by 10 to get the average
df_m['next_4h_avg_volatility'] /= 4

df_m.dropna(inplace=True)

df_m

,opentime,openprice,highprice,lowprice,closeprice,volume,quotevolume,trades,taker_buy_volume,taker_buy_quote,volatility,next_4h_avg_volatility
0,1602748800000,1.0625,1.1872,1.0625,1.1169,1449407,1.655530e+06,9968,766784,8.779915e+05,0.117365,0.049656
1,1602752400000,1.1169,1.1301,1.0778,1.1179,1616432,1.789316e+06,8743,873713,9.684362e+05,0.048525,0.052932
2,1602756000000,1.1176,1.1650,1.1136,1.1570,1270406,1.441663e+06,8310,721173,8.190750e+05,0.046157,0.053795
3,1602759600000,1.1572,1.1575,1.1210,1.1279,481575,5.503787e+05,4446,227307,2.600841e+05,0.032560,0.050324
4,1602763200000,1.1286,1.1812,1.1025,1.1536,1835160,2.107977e+06,9266,934671,1.074642e+06,0.071383,0.047671
...,...,...,...,...,...,...,...,...,...,...,...,...
36452,1733976000000,7.0530,7.1250,7.0400,7.0810,1549828,1.097683e+07,29710,682310,4.834212e+06,0.012074,0.015098
36453,1733979600000,7.0820,7.2150,7.0710,7.1270,2039678,1.460077e+07,34191,1225453,8.771590e+06,0.020365,0.012596
36454,1733983200000,7.1270,7.1680,7.0640,7.1220,1633077,1.162963e+07,26984,677472,4.826473e+06,0.014723,0.013723
36455,1733986800000,7.1210,7.1440,7.0670,7.0800,792438,5.630026e+06,17852,347334,2.468128e+06,0.010896,0.014814
36456,1733990400000,7.0790,7.1800,7.0780,7.1800,1252786,8.950482e+06,20675,658195,4.702462e+06,0.014411,0.014886

## Statistics

In [10]:
# Calculate summary statistics for volatility and 4h_avg_volatility
summary_stats = {
    'Metric': ['Mean', 'Median', 'Max', 'Min'],
    'Volatility': [
        df_m['volatility'].mean(),
        df_m['volatility'].median(),
        df_m['volatility'].max(),
        df_m['volatility'].min()
    ],
    'next_4h_avg_volatility': [
        df_m['next_4h_avg_volatility'].mean(),
        df_m['next_4h_avg_volatility'].median(),
        df_m['next_4h_avg_volatility'].max(),
        df_m['next_4h_avg_volatility'].min()
    ]
}

# Convert the summary stats dictionary to a DataFrame
summary_df = pd.DataFrame(summary_stats)

summary_df

   Metric  Volatility  next_4h_avg_volatility
0    Mean    0.020236                0.020231
1  Median    0.016032                0.017218
2     Max    0.900972                0.346912
3     Min    0.000268                0.002243

## Baseline Prediction Model

In [13]:
import time
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

# Separate df into features and target
features_df = df_m.drop(['opentime', 'next_4h_avg_volatility'], axis=1)
target_df = df_m['next_4h_avg_volatility']

# Convert to NumPy arrays
X = features_df.values
y = target_df.values

# Define list of train-test split proportions
train_test_ratios = [0.93]  # Example proportions for training set

# List to store results
all_results = []

# Loop through each train-test ratio
for train_ratio in train_test_ratios:
    print(f'Processing train-test split ratio: {train_ratio}')

    # Split data chronologically
    split_index = int(len(X) * train_ratio)
    X_train, X_test = X[:split_index], X[split_index:]
    y_train, y_test = y[:split_index], y[split_index:]

    # Normalize training data
    X_train_mean = np.mean(X_train, axis=0)
    X_train_std = np.std(X_train, axis=0)
    X_train_normalized = (X_train - X_train_mean) / X_train_std

    # Get the column index for 'volatility' from features_df
    close_index = features_df.columns.get_loc('volatility')

    # Normalize y_train using the mean and std of the 'volatility' column
    close_mean = X_train[:, close_index].mean()
    close_std = X_train[:, close_index].std()
    y_train_normalized = (y_train - close_mean) / close_std

    # Normalize test data using the training set's statistics
    X_test_normalized = (X_test - X_train_mean) / X_train_std

    # Initialize and fit the model
    start_time = time.time()
    model = LinearRegression()
    model.fit(X_train_normalized, y_train_normalized)

    # Predict on the test set
    y_pred_test = model.predict(X_test_normalized)
    # Denormalize predictions
    y_pred_test_denorm = y_pred_test * close_std + close_mean

    # Track the end time of the process
    end_time = time.time()

    # Evaluate the model
    eval_results, _ = evaluate_baseline(y_pred_test_denorm, y_test)

    # Append results to the list
    all_results.append({
        'train_ratio': train_ratio,
        **eval_results
    })

# Convert results to a DataFrame for further analysis
results_df = pd.DataFrame(all_results)

# Print the results DataFrame
results_df.T

Processing train-test split ratio: 0.93

,train_ratio,Overall Median Absolute Error,Overall Variance Absolute Error,Mean Error,Mean Absolute Error,Mean Absolute Percentage Error,Mean Percentage Error,Root Mean Squared Error,R-squared,Min-Max Error
0,0.93,0.005601,0.000024,0.002994,0.006201,43.366631,-33.80316,0.007882,0.196956,0.02771

In [15]:
import time
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

# Separate df into features and target
features_df = df_m.drop(['opentime', 'next_4h_avg_volatility'], axis=1)
target_df = df_m['next_4h_avg_volatility']

# Convert to NumPy arrays
X = features_df.values
y = target_df.values

# Define list of train-test split proportions
train_test_ratios = [0.93]  # Example proportions for training set

# List to store results
all_results = []

# Loop through each train-test ratio
for train_ratio in train_test_ratios:
    print(f'Processing train-test split ratio: {train_ratio}')

    # Split data chronologically
    split_index = int(len(X) * train_ratio)
    X_train, X_test = X[:split_index], X[split_index:]
    y_train, y_test = y[:split_index], y[split_index:]

    # Normalize training data
    X_train_mean = np.mean(X_train, axis=0)
    X_train_std = np.std(X_train, axis=0)
    X_train_normalized = (X_train - X_train_mean) / X_train_std

    # Get the column index for 'volatility' from features_df
    close_index = features_df.columns.get_loc('volatility')

    # Normalize y_train using the mean and std of the 'volatility' column
    close_mean = X_train[:, close_index].mean()
    close_std = X_train[:, close_index].std()
    y_train_normalized = (y_train - close_mean) / close_std

    # Normalize test data using the training set's statistics
    X_test_normalized = (X_test - X_train_mean) / X_train_std

    # Initialize and fit the model
    start_time = time.time()
    model = LinearRegression()
    model.fit(X_train_normalized, y_train_normalized)

    # Predict on the test set
    y_pred_test = model.predict(X_test_normalized)
    # Denormalize predictions
    y_pred_test_denorm = y_pred_test * close_std + close_mean

    # # Apply the condition to y_test and y_pred_test_denorm
    y_test = np.where(y_test >= 0.02, 1, 0)
    y_pred_test_classified = np.where(y_pred_test_denorm >= 0.02, 1, 0)

    # Track the end time of the process
    end_time = time.time()


# Convert results to a DataFrame for further analysis
results_df = pd.DataFrame({
    'y_test': y_test,
    'y_pred_test_classified': y_pred_test_classified
})

# Print the results DataFrame
results_df

Processing train-test split ratio: 0.93

      y_test  y_pred_test_classified
0          0                       1
1          0                       1
2          0                       1
3          1                       1
4          1                       1
...      ...                     ...
2547       0                       0
2548       0                       1
2549       0                       0
2550       0                       0
2551       0                       0

[2552 rows x 2 columns]

In [16]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score

# Calculate Accuracy
accuracy = accuracy_score(results_df['y_test'], results_df['y_pred_test_classified'])

# Calculate F1 Score
f1 = f1_score(results_df['y_test'], results_df['y_pred_test_classified'])

# Print results
print(f"Accuracy: {accuracy:.2f}")
print(f"F1 Score: {f1:.2f}")

Accuracy: 0.73
F1 Score: 0.63

In [17]:
from sklearn.metrics import accuracy_score, f1_score

# Take the last 100 rows
results_df_last_100 = results_df.tail(100)

# Calculate Accuracy
accuracy = accuracy_score(results_df_last_100['y_test'], results_df_last_100['y_pred_test_classified'])

# Calculate F1 Score
f1 = f1_score(results_df_last_100['y_test'], results_df_last_100['y_pred_test_classified'])

# Print results
print(f"Accuracy (Last 100): {accuracy:.2f}")
print(f"F1 Score (Last 100): {f1:.2f}")

Accuracy (Last 100): 0.67
F1 Score (Last 100): 0.73

## Use current 4h avg volatility as the next 4h avg volatility

In [22]:
df_m

,opentime,openprice,highprice,lowprice,closeprice,volume,quotevolume,trades,taker_buy_volume,taker_buy_quote,volatility,next_4h_avg_volatility
0,1602748800000,1.0625,1.1872,1.0625,1.1169,1449407,1.655530e+06,9968,766784,8.779915e+05,0.117365,0.049656
1,1602752400000,1.1169,1.1301,1.0778,1.1179,1616432,1.789316e+06,8743,873713,9.684362e+05,0.048525,0.052932
2,1602756000000,1.1176,1.1650,1.1136,1.1570,1270406,1.441663e+06,8310,721173,8.190750e+05,0.046157,0.053795
3,1602759600000,1.1572,1.1575,1.1210,1.1279,481575,5.503787e+05,4446,227307,2.600841e+05,0.032560,0.050324
4,1602763200000,1.1286,1.1812,1.1025,1.1536,1835160,2.107977e+06,9266,934671,1.074642e+06,0.071383,0.047671
...,...,...,...,...,...,...,...,...,...,...,...,...
36452,1733976000000,7.0530,7.1250,7.0400,7.0810,1549828,1.097683e+07,29710,682310,4.834212e+06,0.012074,0.015098
36453,1733979600000,7.0820,7.2150,7.0710,7.1270,2039678,1.460077e+07,34191,1225453,8.771590e+06,0.020365,0.012596
36454,1733983200000,7.1270,7.1680,7.0640,7.1220,1633077,1.162963e+07,26984,677472,4.826473e+06,0.014723,0.013723
36455,1733986800000,7.1210,7.1440,7.0670,7.0800,792438,5.630026e+06,17852,347334,2.468128e+06,0.010896,0.014814
36456,1733990400000,7.0790,7.1800,7.0780,7.1800,1252786,8.950482e+06,20675,658195,4.702462e+06,0.014411,0.014886

In [23]:
df_m['4h_avg_volatility'] = df_m['volatility'].rolling(window=4).mean()
df_m.dropna(inplace=True)
df_m

,opentime,openprice,highprice,lowprice,closeprice,volume,quotevolume,trades,taker_buy_volume,taker_buy_quote,volatility,next_4h_avg_volatility,4h_avg_volatility
3,1602759600000,1.1572,1.1575,1.1210,1.1279,481575,5.503787e+05,4446,227307,2.600841e+05,0.032560,0.050324,0.061152
4,1602763200000,1.1286,1.1812,1.1025,1.1536,1835160,2.107977e+06,9266,934671,1.074642e+06,0.071383,0.047671,0.049656
5,1602766800000,1.1532,1.2231,1.1521,1.2192,2608201,3.103869e+06,14186,1473742,1.755919e+06,0.061627,0.041482,0.052932
6,1602770400000,1.2188,1.2208,1.1631,1.1687,1868465,2.215149e+06,13523,808918,9.593167e+05,0.049609,0.035337,0.053795
7,1602774000000,1.1688,1.1890,1.1672,1.1777,922284,1.087723e+06,8007,524482,6.193072e+05,0.018677,0.035115,0.050324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,1733976000000,7.0530,7.1250,7.0400,7.0810,1549828,1.097683e+07,29710,682310,4.834212e+06,0.012074,0.015098,0.021055
36453,1733979600000,7.0820,7.2150,7.0710,7.1270,2039678,1.460077e+07,34191,1225453,8.771590e+06,0.020365,0.012596,0.021724
36454,1733983200000,7.1270,7.1680,7.0640,7.1220,1633077,1.162963e+07,26984,677472,4.826473e+06,0.014723,0.013723,0.017147
36455,1733986800000,7.1210,7.1440,7.0670,7.0800,792438,5.630026e+06,17852,347334,2.468128e+06,0.010896,0.014814,0.014514
36456,1733990400000,7.0790,7.1800,7.0780,7.1800,1252786,8.950482e+06,20675,658195,4.702462e+06,0.014411,0.014886,0.015098

In [24]:
evaluate_baseline(df_m['4h_avg_volatility'], df_m['next_4h_avg_volatility'])

({'Overall Median Absolute Error': 0.004269876722910992,
  'Overall Variance Absolute Error': 9.697406733667128e-05,
  'Mean Error': np.float64(4.4306459275419595e-06),
  'Mean Absolute Error ': np.float64(0.006682945643166656),
  'Mean Absolute Percentage Error': np.float64(32.791461998245296),
  'Mean Percentage Error': np.float64(-8.230267128761087),
  'Root Mean Squared Error': np.float64(0.011900973474043113),
  'R-squared': 0.2449086587141086,
  'Min-Max Error': np.float64(1.1709383462843448e-17)},
 shape: (36_454, 3)
 ┌───────────────────────┬───────────────────┬────────────────┐
 │ volatility_prediction ┆ volatility_actual ┆ dif_volatility │
 │ ---                   ┆ ---               ┆ ---            │
 │ f64                   ┆ f64               ┆ f64            │
 ╞═══════════════════════╪═══════════════════╪════════════════╡
 │ 0.061152              ┆ 0.050324          ┆ 0.010828       │
 │ 0.049656              ┆ 0.047671          ┆ 0.001986       │
 │ 0.052932              ┆ 0.041482          ┆ 0.01145        │
 │ 0.053795              ┆ 0.035337          ┆ 0.018458       │
 │ 0.050324              ┆ 0.035115          ┆ 0.015209       │
 │ …                     ┆ …                 ┆ …              │
 │ 0.021055              ┆ 0.015098          ┆ 0.005957       │
 │ 0.021724              ┆ 0.012596          ┆ 0.009128       │
 │ 0.017147              ┆ 0.013723          ┆ 0.003425       │
 │ 0.014514              ┆ 0.014814          ┆ 0.0003         │
 │ 0.015098              ┆ 0.014886          ┆ 0.000212       │
 └───────────────────────┴───────────────────┴────────────────┘)

In [26]:
pd.DataFrame(evaluate_baseline(df_m['4h_avg_volatility'], df_m['next_4h_avg_volatility'])[0].items(), columns=["Metric", "Value"])

                            Metric         Value
0    Overall Median Absolute Error  4.269877e-03
1  Overall Variance Absolute Error  9.697407e-05
2                       Mean Error  4.430646e-06
3             Mean Absolute Error   6.682946e-03
4   Mean Absolute Percentage Error  3.279146e+01
5            Mean Percentage Error -8.230267e+00
6          Root Mean Squared Error  1.190097e-02
7                        R-squared  2.449087e-01
8                    Min-Max Error  1.170938e-17

In [27]:
df_m_class = df_m[['next_4h_avg_volatility','4h_avg_volatility']]

# Apply the transformation to the DataFrame
df_m_class = df_m_class.applymap(lambda x: 1 if x >= 0.02 else 0)

df_m_class

       next_4h_avg_volatility  4h_avg_volatility
3                    0.050324           0.061152
4                    0.047671           0.049656
5                    0.041482           0.052932
6                    0.035337           0.053795
7                    0.035115           0.050324
...                       ...                ...
36452                0.015098           0.021055
36453                0.012596           0.021724
36454                0.013723           0.017147
36455                0.014814           0.014514
36456                0.014886           0.015098

[36454 rows x 2 columns]

In [30]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score

# Calculate Accuracy
accuracy = accuracy_score(df_m_class['next_4h_avg_volatility'], df_m_class['4h_avg_volatility'])

# Calculate F1 Score
f1 = f1_score(df_m_class['next_4h_avg_volatility'], df_m_class['4h_avg_volatility'])

# Print results
print(f"Accuracy: {accuracy:.2f}")
print(f"F1 Score: {f1:.2f}")

Accuracy: 0.76
F1 Score: 0.70

In [32]:
from sklearn.metrics import accuracy_score, f1_score

# Take the last 100 rows
df_m_class_last_100 = df_m_class.tail(100)

# Calculate Accuracy
accuracy = accuracy_score(df_m_class_last_100['next_4h_avg_volatility'], df_m_class_last_100['4h_avg_volatility'])

# Calculate F1 Score
f1 = f1_score(df_m_class_last_100['next_4h_avg_volatility'], df_m_class_last_100['4h_avg_volatility'])

# Print results
print(f"Accuracy: {accuracy:.2f}")
print(f"F1 Score: {f1:.2f}")

Accuracy: 0.70
F1 Score: 0.71