# Read Data

In [2]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('SUI_USDT_futures_15m_20241231.csv')

# Display the first few rows of the DataFrame
df

,coin,opentime,openprice,highprice,lowprice,closeprice,volume,closetime,quotevolume,trades,taker_buy_volume,taker_buy_quote,unused
0,SUI,1683129600000,1.4030,1.4030,1.2652,1.3338,11474534.0,1683130499999,1.517217e+07,43648,5505355.7,7.277550e+06,0
1,SUI,1683130500000,1.3339,1.3863,1.3327,1.3716,16090260.4,1683131399999,2.197104e+07,72866,8103409.6,1.106807e+07,0
2,SUI,1683131400000,1.3717,1.3957,1.3547,1.3857,13192974.2,1683132299999,1.820509e+07,57805,6829156.6,9.423169e+06,0
3,SUI,1683132300000,1.3866,1.3924,1.3652,1.3733,11951258.0,1683133199999,1.646971e+07,46428,5673737.9,7.822083e+06,0
4,SUI,1683133200000,1.3731,1.3756,1.3405,1.3574,12698235.4,1683134099999,1.719730e+07,50735,6035706.0,8.176917e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58323,SUI,1735620300000,4.0787,4.0850,4.0616,4.0828,1863281.5,1735621199999,7.589595e+06,20948,927866.5,3.779383e+06,0
58324,SUI,1735621200000,4.0829,4.0953,4.0738,4.0810,854988.6,1735622099999,3.493640e+06,13288,392507.9,1.603318e+06,0
58325,SUI,1735622100000,4.0811,4.0990,4.0637,4.0982,1221874.8,1735622999999,4.985167e+06,18433,781802.8,3.190057e+06,0
58326,SUI,1735623000000,4.0982,4.1310,4.0900,4.1198,1702835.3,1735623899999,7.003625e+06,26801,850966.2,3.498465e+06,0
58327,SUI,1735623900000,4.1199,4.1293,4.1061,4.1191,625389.3,1735624799999,2.575282e+06,13212,274271.4,1.129335e+06,0

# Explore

In [3]:
df

,coin,opentime,openprice,highprice,lowprice,closeprice,volume,closetime,quotevolume,trades,taker_buy_volume,taker_buy_quote,unused
0,SUI,1683129600000,1.4030,1.4030,1.2652,1.3338,11474534.0,1683130499999,1.517217e+07,43648,5505355.7,7.277550e+06,0
1,SUI,1683130500000,1.3339,1.3863,1.3327,1.3716,16090260.4,1683131399999,2.197104e+07,72866,8103409.6,1.106807e+07,0
2,SUI,1683131400000,1.3717,1.3957,1.3547,1.3857,13192974.2,1683132299999,1.820509e+07,57805,6829156.6,9.423169e+06,0
3,SUI,1683132300000,1.3866,1.3924,1.3652,1.3733,11951258.0,1683133199999,1.646971e+07,46428,5673737.9,7.822083e+06,0
4,SUI,1683133200000,1.3731,1.3756,1.3405,1.3574,12698235.4,1683134099999,1.719730e+07,50735,6035706.0,8.176917e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58323,SUI,1735620300000,4.0787,4.0850,4.0616,4.0828,1863281.5,1735621199999,7.589595e+06,20948,927866.5,3.779383e+06,0
58324,SUI,1735621200000,4.0829,4.0953,4.0738,4.0810,854988.6,1735622099999,3.493640e+06,13288,392507.9,1.603318e+06,0
58325,SUI,1735622100000,4.0811,4.0990,4.0637,4.0982,1221874.8,1735622999999,4.985167e+06,18433,781802.8,3.190057e+06,0
58326,SUI,1735623000000,4.0982,4.1310,4.0900,4.1198,1702835.3,1735623899999,7.003625e+06,26801,850966.2,3.498465e+06,0
58327,SUI,1735623900000,4.1199,4.1293,4.1061,4.1191,625389.3,1735624799999,2.575282e+06,13212,274271.4,1.129335e+06,0