# Read Data

In [2]:
# Spreads
import pandas as pd

df_spread = pd.read_csv('spread.csv')

# Filter columns
df_spread = df_spread[['timestamp', 'LINAUSDT-GTCUSDT']]

df_spread

      timestamp  LINAUSDT-GTCUSDT
0    2024-01-11         -4.968798
1    2024-01-12         -4.955794
2    2024-01-13         -4.957159
3    2024-01-14         -4.936558
4    2024-01-15         -4.938028
..          ...               ...
360  2025-01-05         -5.000997
361  2025-01-06         -5.005235
362  2025-01-07         -5.028604
363  2025-01-08         -5.049686
364  2025-01-09         -5.040875

[365 rows x 2 columns]

In [3]:
# Historical data
df_LINAUSDT = pd.read_csv('LINAUSDT.csv')

df_LINAUSDT

,Unnamed: 0,timestamp,open,high,low,close,volume,close_time,quote_volume,trades,taker_buy_base,taker_buy_quote,ignore
0,0,2022-12-20 07:00:00,0.00523,0.00524,0.00518,0.00522,95953549.0,1.671523e+12,499752.47011,1454.0,39012818.0,203029.92707,0.0
1,1,2022-12-20 08:00:00,0.00522,0.00524,0.00520,0.00523,78064433.0,1.671527e+12,407240.17370,1450.0,37530600.0,195841.86391,0.0
2,2,2022-12-20 09:00:00,0.00523,0.00529,0.00523,0.00527,78634735.0,1.671530e+12,414112.52759,1637.0,39830057.0,209635.32397,0.0
3,3,2022-12-20 10:00:00,0.00527,0.00529,0.00525,0.00527,46100004.0,1.671534e+12,242907.95562,1045.0,19837958.0,104538.88716,0.0
4,4,2022-12-20 11:00:00,0.00527,0.00529,0.00526,0.00529,55923004.0,1.671538e+12,294952.16752,1030.0,24203601.0,127729.36851,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,17995,2025-01-08 02:00:00,0.00480,0.00484,0.00476,0.00476,64642495.0,1.736305e+12,310348.10802,2911.0,29425644.0,141363.65081,0.0
17996,17996,2025-01-08 03:00:00,0.00477,0.00479,0.00470,0.00475,172447279.0,1.736309e+12,817394.40629,4814.0,83137452.0,394301.22048,0.0
17997,17997,2025-01-08 04:00:00,0.00475,0.00478,0.00469,0.00470,118707872.0,1.736312e+12,560994.75155,3123.0,58510516.0,276787.96469,0.0
17998,17998,2025-01-08 05:00:00,0.00471,0.00476,0.00469,0.00469,53914485.0,1.736316e+12,254739.07108,2380.0,27635185.0,130570.67079,0.0
17999,17999,2025-01-08 06:00:00,0.00470,0.00473,0.00469,0.00471,7509541.0,1.736320e+12,35392.09850,405.0,5028716.0,23710.11164,0.0