# Read Order Book Data

In [1]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
df_ob = pd.read_csv('/home/ubuntu/Rheza/local-share/06_trades_and_orderbooks/cleaned_ob_20250128.csv')

# Display the first few rows of the DataFrame
df_ob

,ts,middle_bid_price,largest_bid_price,largest_bid_size,largest_bid_size_price,largest_bid_size_value,top_5_bid_size_sum,middle_ask_price,largest_ask_price,largest_ask_size,largest_ask_size_price,largest_ask_size_value,top_5_ask_size_sum,ts_diff
0,1738022405000,3178.941012,3181.17,76.01,3176.36,122.18,327.74,3184.132909,3187.26,0.00,3185.93,120.35,267.16,1.0
1,1738022410000,3177.348452,3180.38,0.90,3176.27,87.75,231.18,3181.214453,3186.37,0.00,3180.39,81.88,178.54,1.0
2,1738022415000,3178.928664,3180.70,4.38,3177.86,95.41,196.24,3181.921021,3186.71,0.01,3182.96,88.56,184.76,1.0
3,1738022420000,3179.200847,3180.84,1.80,3178.07,78.60,168.89,3182.663413,3186.76,0.01,3180.85,97.59,350.43,2.0
4,1738022425000,3179.469452,3181.19,55.79,3178.78,81.55,346.85,3184.410897,3187.21,1.19,3186.97,277.00,523.81,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4177,1738043290000,3217.535596,3219.09,33.60,3216.55,77.83,253.24,3220.611814,3224.83,0.08,3219.10,89.26,225.36,1.0
4178,1738043295000,3217.570969,3218.72,40.52,3216.56,77.73,270.98,3221.254885,3224.64,0.01,3221.72,81.87,243.72,2.0
4179,1738043300000,3216.592328,3218.94,0.00,3215.98,327.86,604.25,3220.661626,3224.68,0.00,3221.47,79.20,227.28,1.0
4180,1738043305000,3217.361027,3219.44,8.61,3217.37,78.29,123.82,3221.445682,3225.56,0.00,3222.53,77.67,186.46,1.0
4181,1738043310000,3217.413997,3219.44,8.59,3217.53,77.93,201.51,3222.579700,3224.65,27.03,3222.72,77.97,156.53,1.0

# Read Aggregated Trades Data

In [2]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
df_at = pd.read_csv('/home/ubuntu/Rheza/local-share/06_trades_and_orderbooks/cleaned_trades_20250128.csv')

# Display the first few rows of the DataFrame
df_at

,timestamp,sum_buy_quoteprice,sum_sell_quoteprice,sum_buy_size,sum_sell_size,nearest_price,buy_price_most_size,sell_price_most_size
0,1738022405000,10816.0120,89359.0653,3.40,28.09,3181.18,3181.18,3181.17
1,1738022410000,207855.1386,149413.4592,65.34,46.97,3180.59,3181.18,3181.17
2,1738022415000,85201.5679,44175.9577,26.79,13.89,3180.73,3180.27,3180.37
3,1738022420000,67215.3038,53759.6228,21.13,16.90,3180.84,3181.18,3181.10
4,1738022425000,83908.5168,11164.6134,26.38,3.51,3181.17,3180.79,3180.84
...,...,...,...,...,...,...,...,...
17275,1738108780000,5507.1191,92.2959,1.79,0.03,3076.93,3076.54,3076.53
17276,1738108785000,4615.6650,5354.1540,1.50,1.74,3077.10,3077.11,3077.10
17277,1738108790000,2984.0676,104453.1112,0.97,33.95,3075.89,3076.62,3077.10
17278,1738108795000,8488.3328,6059.1430,2.76,1.97,3076.19,3075.38,3075.75
17279,1738108800000,276.8463,41924.4008,0.09,13.63,3075.78,3076.07,3075.78

# Combine Data