# Read Order Book Data

In [1]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
df_ob = pd.read_csv('/home/ubuntu/Rheza/local-share/06_trades_and_orderbooks/cleaned_ob_20250128.csv')

# Display the first few rows of the DataFrame
df_ob

,ts,middle_bid_price,largest_bid_price,largest_bid_size,largest_bid_size_price,largest_bid_size_value,top_5_bid_size_sum,middle_ask_price,largest_ask_price,largest_ask_size,largest_ask_size_price,largest_ask_size_value,top_5_ask_size_sum,ts_diff
0,1738022405000,3178.941012,3181.17,76.01,3176.36,122.18,327.74,3184.132909,3187.26,0.00,3185.93,120.35,267.16,1.0
1,1738022410000,3177.348452,3180.38,0.90,3176.27,87.75,231.18,3181.214453,3186.37,0.00,3180.39,81.88,178.54,1.0
2,1738022415000,3178.928664,3180.70,4.38,3177.86,95.41,196.24,3181.921021,3186.71,0.01,3182.96,88.56,184.76,1.0
3,1738022420000,3179.200847,3180.84,1.80,3178.07,78.60,168.89,3182.663413,3186.76,0.01,3180.85,97.59,350.43,2.0
4,1738022425000,3179.469452,3181.19,55.79,3178.78,81.55,346.85,3184.410897,3187.21,1.19,3186.97,277.00,523.81,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4177,1738043290000,3217.535596,3219.09,33.60,3216.55,77.83,253.24,3220.611814,3224.83,0.08,3219.10,89.26,225.36,1.0
4178,1738043295000,3217.570969,3218.72,40.52,3216.56,77.73,270.98,3221.254885,3224.64,0.01,3221.72,81.87,243.72,2.0
4179,1738043300000,3216.592328,3218.94,0.00,3215.98,327.86,604.25,3220.661626,3224.68,0.00,3221.47,79.20,227.28,1.0
4180,1738043305000,3217.361027,3219.44,8.61,3217.37,78.29,123.82,3221.445682,3225.56,0.00,3222.53,77.67,186.46,1.0
4181,1738043310000,3217.413997,3219.44,8.59,3217.53,77.93,201.51,3222.579700,3224.65,27.03,3222.72,77.97,156.53,1.0

# Read Aggregated Trades Data

In [7]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
df_at = pd.read_csv('/home/ubuntu/Rheza/local-share/06_trades_and_orderbooks/cleaned_trades_20250128.csv')

df_at['buy_mid_price'] = (df_at['sum_buy_quoteprice'] / df_at['sum_buy_size']).round(2)
df_at['sell_mid_price'] = (df_at['sum_sell_quoteprice'] / df_at['sum_sell_size']).round(2)

# Display the first few rows of the DataFrame
df_at

,timestamp,sum_buy_quoteprice,sum_sell_quoteprice,sum_buy_size,sum_sell_size,nearest_price,buy_price_most_size,sell_price_most_size,buy_mid_price,sell_mid_price
0,1738022405000,10816.0120,89359.0653,3.40,28.09,3181.18,3181.18,3181.17,3181.18,3181.17
1,1738022410000,207855.1386,149413.4592,65.34,46.97,3180.59,3181.18,3181.17,3181.13,3181.04
2,1738022415000,85201.5679,44175.9577,26.79,13.89,3180.73,3180.27,3180.37,3180.35,3180.41
3,1738022420000,67215.3038,53759.6228,21.13,16.90,3180.84,3181.18,3181.10,3181.04,3181.04
4,1738022425000,83908.5168,11164.6134,26.38,3.51,3181.17,3180.79,3180.84,3180.76,3180.80
...,...,...,...,...,...,...,...,...,...,...
17275,1738108780000,5507.1191,92.2959,1.79,0.03,3076.93,3076.54,3076.53,3076.60,3076.53
17276,1738108785000,4615.6650,5354.1540,1.50,1.74,3077.10,3077.11,3077.10,3077.11,3077.10
17277,1738108790000,2984.0676,104453.1112,0.97,33.95,3075.89,3076.62,3077.10,3076.36,3076.67
17278,1738108795000,8488.3328,6059.1430,2.76,1.97,3076.19,3075.38,3075.75,3075.48,3075.71
17279,1738108800000,276.8463,41924.4008,0.09,13.63,3075.78,3076.07,3075.78,3076.07,3075.89

# Combine Data

In [20]:
import pandas as pd

# Assuming df_ob and df_at are already loaded as DataFrames
df = pd.merge(df_ob, df_at, left_on='ts', right_on='timestamp', how='inner')

df['next_5s_nearest_price'] = df['nearest_price'].shift(-1)

df.dropna(inplace=True)

df

,ts,middle_bid_price,largest_bid_price,largest_bid_size,largest_bid_size_price,largest_bid_size_value,top_5_bid_size_sum,middle_ask_price,largest_ask_price,largest_ask_size,...,sum_buy_quoteprice,sum_sell_quoteprice,sum_buy_size,sum_sell_size,nearest_price,buy_price_most_size,sell_price_most_size,buy_mid_price,sell_mid_price,next_5s_nearest_price
0,1738022405000,3178.941012,3181.17,76.01,3176.36,122.18,327.74,3184.132909,3187.26,0.00,...,10816.0120,89359.0653,3.40,28.09,3181.18,3181.18,3181.17,3181.18,3181.17,3180.59
1,1738022410000,3177.348452,3180.38,0.90,3176.27,87.75,231.18,3181.214453,3186.37,0.00,...,207855.1386,149413.4592,65.34,46.97,3180.59,3181.18,3181.17,3181.13,3181.04,3180.73
2,1738022415000,3178.928664,3180.70,4.38,3177.86,95.41,196.24,3181.921021,3186.71,0.01,...,85201.5679,44175.9577,26.79,13.89,3180.73,3180.27,3180.37,3180.35,3180.41,3180.84
3,1738022420000,3179.200847,3180.84,1.80,3178.07,78.60,168.89,3182.663413,3186.76,0.01,...,67215.3038,53759.6228,21.13,16.90,3180.84,3181.18,3181.10,3181.04,3181.04,3181.17
4,1738022425000,3179.469452,3181.19,55.79,3178.78,81.55,346.85,3184.410897,3187.21,1.19,...,83908.5168,11164.6134,26.38,3.51,3181.17,3180.79,3180.84,3180.76,3180.80,3181.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176,1738043285000,3218.268255,3219.83,9.31,3217.38,77.63,157.46,3220.854062,3225.61,0.00,...,3574.2777,4572.4852,1.11,1.42,3220.06,3220.07,3220.06,3220.07,3220.06,3219.10
4177,1738043290000,3217.535596,3219.09,33.60,3216.55,77.83,253.24,3220.611814,3224.83,0.08,...,9915.6552,69252.9049,3.08,21.51,3219.10,3219.26,3219.23,3219.37,3219.57,3218.73
4178,1738043295000,3217.570969,3218.72,40.52,3216.56,77.73,270.98,3221.254885,3224.64,0.01,...,13680.8479,20987.0794,4.25,6.52,3218.73,3219.02,3218.72,3219.02,3218.88,3219.06
4179,1738043300000,3216.592328,3218.94,0.00,3215.98,327.86,604.25,3220.661626,3224.68,0.00,...,68530.3527,26814.5776,21.29,8.33,3219.06,3219.06,3219.05,3218.90,3219.04,3220.08
4180,1738043305000,3217.361027,3219.44,8.61,3217.37,78.29,123.82,3221.445682,3225.56,0.00,...,80249.9702,47093.7451,24.93,14.63,3220.08,3218.81,3219.05,3219.01,3218.98,3220.09

In [25]:
df_t = df[['ts','nearest_price','next_5s_nearest_price']]
df_t

                 ts  nearest_price  next_5s_nearest_price
0     1738022405000        3181.18                3180.59
1     1738022410000        3180.59                3180.73
2     1738022415000        3180.73                3180.84
3     1738022420000        3180.84                3181.17
4     1738022425000        3181.17                3181.78
...             ...            ...                    ...
4176  1738043285000        3220.06                3219.10
4177  1738043290000        3219.10                3218.73
4178  1738043295000        3218.73                3219.06
4179  1738043300000        3219.06                3220.08
4180  1738043305000        3220.08                3220.09

[3841 rows x 3 columns]

# ML

In [21]:
import numpy as np
import polars as pl
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Adjust the evaluate_baseline function to accept only y_pred and y_test
def evaluate_baseline(y_pred, y_test):
    # Convert lists to Numpy arrays
    pred = np.array(y_pred)
    test = np.array(y_test)

    # Evaluation Metrics
    me = np.mean(pred - test)  # Mean Error
    mae = mean_absolute_error(test, pred)  # Mean Absolute Error
    mape = np.mean(np.abs((test - pred) / test)) * 100  # Mean Absolute Percentage Error
    mpe = np.mean((test - pred) / test) * 100  # Mean Percentage Error
    rmse = np.sqrt(mean_squared_error(test, pred))  # Root Mean Squared Error

    r = r2_score(test, pred)  # Coefficient of Determination (R-squared)
    min_max_error = np.abs((np.min(pred) - np.min(test)) + 
                            (np.max(pred) - np.max(test)))  # Min-Max Error

    df = pl.DataFrame({
        f'volatility_prediction': pred,
        f'volatility_actual': test
    })

    df = df.with_columns(
        abs(pl.col(f'volatility_prediction') - pl.col(f'volatility_actual')).alias(f'dif_volatility')
    )

    # overall median abs error
    median_abs_err =  df[f'dif_volatility'].median()

    # overall var abs error
    var_abs_err =  df[f'dif_volatility'].var()

    # Results
    results = {
        "Overall Median Absolute Error" : median_abs_err,
        "Overall Variance Absolute Error" : var_abs_err,
        "Mean Error": me,
        "Mean Absolute Error ": mae,
        "Mean Absolute Percentage Error": mape,
        "Mean Percentage Error": mpe,
        "Root Mean Squared Error": rmse,
        "R-squared": r, 
        "Min-Max Error": min_max_error
    }
    
    return results, df

In [28]:
import time
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

# Separate df into features and target
features_df = df.drop(['ts', 'next_5s_nearest_price'], axis=1)
target_df = df['next_5s_nearest_price']

# Convert to NumPy arrays
X = features_df.values
y = target_df.values

# Define list of train-test split proportions
train_test_ratios = [0.8]  # Example proportions for training set

# List to store results
all_results = []

# Loop through each train-test ratio
for train_ratio in train_test_ratios:
    print(f'Processing train-test split ratio: {train_ratio}')

    # Split data chronologically
    split_index = int(len(X) * train_ratio)
    X_train, X_test = X[:split_index], X[split_index:]
    y_train, y_test = y[:split_index], y[split_index:]

    # Normalize training data
    X_train_mean = np.mean(X_train, axis=0)
    X_train_std = np.std(X_train, axis=0)
    X_train_normalized = (X_train - X_train_mean) / X_train_std

    # Get the column index for 'volatility' from features_df
    close_index = features_df.columns.get_loc('nearest_price')

    # Normalize y_train using the mean and std of the 'volatility' column
    close_mean = X_train[:, close_index].mean()
    close_std = X_train[:, close_index].std()
    y_train_normalized = (y_train - close_mean) / close_std

    # Normalize test data using the training set's statistics
    X_test_normalized = (X_test - X_train_mean) / X_train_std

    # Initialize and fit the model
    start_time = time.time()
    model = LinearRegression()
    model.fit(X_train_normalized, y_train_normalized)

    # Predict on the test set
    y_pred_test = model.predict(X_test_normalized)
    # Denormalize predictions
    y_pred_test_denorm = y_pred_test * close_std + close_mean

    # Track the end time of the process
    end_time = time.time()

    # Evaluate the model
    eval_results, _ = evaluate_baseline(y_pred_test_denorm, y_test)

    # Append results to the list
    all_results.append({
        'train_ratio': train_ratio,
        **eval_results
    })

# Convert results to a DataFrame for further analysis
results_df = pd.DataFrame(all_results)

# Print the results DataFrame
results_df

Processing train-test split ratio: 0.8

,train_ratio,Overall Median Absolute Error,Overall Variance Absolute Error,Mean Error,Mean Absolute Error,Mean Absolute Percentage Error,Mean Percentage Error,Root Mean Squared Error,R-squared,Min-Max Error
0,0.8,0.245676,0.165415,0.077273,0.379973,0.011822,-0.002406,0.556399,0.957502,0.094014

In [29]:
results_df.T

                                        0
train_ratio                      0.800000
Overall Median Absolute Error    0.245676
Overall Variance Absolute Error  0.165415
Mean Error                       0.077273
Mean Absolute Error              0.379973
Mean Absolute Percentage Error   0.011822
Mean Percentage Error           -0.002406
Root Mean Squared Error          0.556399
R-squared                        0.957502
Min-Max Error                    0.094014